.App {
  text-align: center;
}
.App-link {
  color: #61dafb;
}

.head {
  font-size: 50px;
  font-family: 'Roboto';
  padding: 10px;
  background-color: #009688;
  color:white;
}

body {
  background-color: #E3E2DF;
}
